<nav>
    <div class="logo">
      <span>
        <strong class="brand">Online Trading</strong>
      </span>
    </div>
    <hr>
  
    <div class="nav-items">
      <a routerLink='/login'><strong>Buy</strong></a>
    </div>
    <hr>
    <div class="nav-items">
      <a routerLink='/login'><strong>Sell</strong></a>
    </div>
    <hr>
    <div class="nav-items">
      <a routerLink='/login'><strong>Order</strong></a>
    </div>
    <hr>
    <div class="nav-items">
      <a routerLink='/login'><strong>Trades</strong></a>
    </div>
    <hr>
  
    <div class="nav-user">
      <div>Welcome <span style="color:darkorange">{{user}}</span></div>
      <a routerLink="/"><strong>Log out</strong></a>
    </div>
      <hr>
  </nav>
