hr {
    width: 100vw;
    height: 2px;
    background-color: #CFCFCF;
    border: none;
    margin: 0;
}

strong {
    font-weight: 600;
}

nav > div {
    // min-height: 50px;
    padding: 0.5rem;
}

.brand {
    font-size: 1.8em;
}

a {
    color: black;
    text-decoration: none;
}

a:hover{
    color:darkorange;
}

nav {
    display: grid;
    justify-items: center;
    text-align: center;
}
@media (min-width: 45rem) {
    nav {
        grid-template-rows: none;
        grid-template-columns: 7fr 1fr 1fr 1fr 1fr 3fr;
        text-align: right;
        justify-items: start;
        border-bottom: 2px solid #CFCFCF;
    }

    .nav-user {
        justify-self: end;
    }

    hr {
        display: none;
    }
}