<nav>
    <div class="logo">
      <a routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
true}">
        <strong class="brand">Online Trading</strong>
      </a>
    </div>
    <hr>
  
    <div class="nav-items">
      <a routerLink='/buy' routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
true}"><strong>Buy</strong></a>
    </div>
    <hr>
    <div class="nav-items">
      <a routerLink='/sell'  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
true}"><strong>Sell</strong></a>
    </div>
    <hr>
    <div class="nav-items">
      <a routerLink='/order' routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
true}"><strong>Orders</strong></a>
    </div>
    <hr>
    <div class="nav-items">
      <a routerLink='/trades' routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
true}"><strong>Trades</strong></a>
    </div>
    <hr>
  
    <div class="nav-user">
      <div>Welcome <span style="color:darkorange">{{user}}</span></div>
      <a class="btn btn-success btn-sm" (click)="logout()"><strong>Logout</strong></a>
    </div>
      <hr>
  </nav>
